*,
*:after,
*:before {
	box-sizing: border-box;
}
#main{
	/*position: relative;*/
}
/*applying background colour to the page*/
body{
	margin: 0px;
	padding: 0px;
	display: block;
	margin-top: 8px;
}
/*.navbar{
	position: fixed;
}*/
/*.navbarhead{
	position: fixed;
	top: 0;
}*/
.mainn{
	/*margin-top:8px;*/
	background-color: #e9ebee;
}
#head{
	display: inline;
}
#header {
	background-color: #3b5998;
	height: 43px; /* height same as facebook*/
	color: white;
	position: fixed;
	top: 0;
	box-sizing: border-box;
	/*width: 1200px;*/
	width: 100%;
	/*display: flex;*/
	justify-content: space-between;
	/*position: relative;*/
	/*height: 10px;*/
}
div{
	display: block;
}
#time{
	font: helvetica;
	color: #566573;
	position: relative;
}
.im{
	position: relative;
	height: 42px;
}
#header,ul {
	font-family: sans-serif;
	font-size: 12px;
}
.nvi{
	font-weight: bold;
	line-height: 28px;
	text-align: left;
	/*padding: 0 10px 1px;*/
	/*vertical-align: top;*/
}
.imt{
	vertical-align: top;
}
.navbar-brand
{
	padding: 5px;
}
.form-control {
	padding-left: 100px;
}
.form-control+.glyphicon {
	position: absolute;
	left: 50px;
	padding: 8px 37px;
}
#wrapper,#nav{
	padding: 10px;
	margin-top: 50px;
	margin-bottom: 16px;
	line-height: 16.08px;
}
/*applying white colour to the text*/
.white-text {
	color: white!important;
}
/*applying red colour to the badge in header for notification*/
.mybadge{
	background-color: red;
	float:right;
}
.glyphicon {
	font-size: 18px;
}
.glyph{
	font-size: 15px;
}
.divider{
	border: 1px solid black;
}
/*setting border*/
.bord{
	border:1px solid #d5d8dc;
	border-radius: 3px;
	padding: 5px;
}
.imgg{
	padding: 3px;
}
.side,.si{
	font-size: 14px;
	font-family: inherit;
}
#side{
	color: black;
	display: inline;
	padding: 5px;
}
.paddi{
	padding: 5px;
}
#main,#menu,#sidebar {  height: 700px;}
#main,#menu,#sidebar {  background-color: #e9ebee;}
.list-heading {
	padding: 10px 10px 0 5px;
}
/*for displaying notification number on the right side*/
.bd{
	float: right;
}
#main{
	height: 700px;
	overflow: auto;
}
#main::-webkit-scrollbar {
	display: none;
}
.mid{
	padding: 20px;
	background-color: rgb(242, 244, 244);
}
/*applying css to the buttons*/
.rb
{
	/*border: 1px solid black;*/
	background-color: rgba(213,216, 220, 0.5);
	border-radius: 7px;
	border: 1px solid #d5d8dc;
}
.b{
	border-radius: 5px;
}
.panel-body  .glyphicon {
	margin-left: 10px;
	margin-right: 4px;
}
.text-post {
	margin-bottom: 15px;
	margin-top: 0;
}
.comment{
	margin: 0;
}
#sidebar { background-color:#e9ebee ; }
.alert-box {
	color:#555;
	border-radius:10px;
	font-family:Tahoma,Geneva,Arial,sans-serif;font-size:11px;
	padding:10px 10px 10px 36px;
	margin:10px;
}
.bday{
	background-color: white;
	border: 5px solid #e9ebee;
}
.ba{
	display: inline;
}
/*for displaying list items in a single line*/
li{
	display: inline;
}
p {
	margin: 0 0 10px;
}

@media only screen and (max-device-width: 480px) {
	div#wrapper {
		width: 400px;
	}

	div#header {
		background-image: url(media-queries-phone.jpg);
		height: 93px;
		position: relative;
	}

	div#header h1 {
		font-size: 140%;
	}

	#content {
		float: none;
		width: 100%;
	}

	#navigation {
		float:none;
		width: auto;
	}
	body {
		background-image: url(/img/small-bg.png);
	}

	#wrapper {
		width: auto;
		margin: auto;
		text-align: left;
		background-image: url(/img/small-logo.png);
		background-position: left 5px;
		background-repeat: no-repeat;
		min-height: 400px;
	}
}
/*
.dr{
color: black;
}*/
/*.image-post {
margin-bottom: 15px;
}*/

/*
.button{
width: 80px;
text-align: center;
}*/
/*#text-color
{
text-color: blue;
}*/

/*body, button, input, label, select, td, textarea {
font-family: Helvetica, Arial, sans-serif;
font-size: 12px;
}*/
/*body {
font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
font-size: 10px;
line-height: 1.42857143;
}*/
/*.nbar{
padding: 20px;
font-size: 20px;
}*/
/*.divider{
border: 1px solid black;
}*/
/*.error {
background:#ffecec url('images/error.png') no-repeat 10px 50%;
border:1px solid #f5aca6;
}*/
/*
#button {
width:100px;
height: 100px;
border-radius:100%;
background-color:red;
}*/
